# Tabular GAN to make minor attack traffics

### Reference
[GAN-for-tabular-data](https://github.com/Diyago/GAN-for-tabular-data)

In [1]:
from tabgan.sampler import OriginalGenerator, GANGenerator, ForestDiffusionGenerator
import pandas as pd
import numpy as np

/opt/homebrew/lib/python3.11/site-packages/_ctgan/synthesizer.py:7: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from tqdm.autonotebook import tqdm

In [12]:
# random input data
train = pd.DataFrame(np.random.randint(-10, 150, size=(150, 4)), columns=list("ABCD"))
target = pd.DataFrame(np.random.randint(0, 2, size=(150, 1)), columns=list("Y"))
test = pd.DataFrame(np.random.randint(0, 100, size=(100, 4)), columns=list("ABCD"))

In [13]:
train

       A    B    C    D
0     18    8   -5   84
1     91   92   89   -3
2    132  101   -7   95
3     -4   93   79   90
4     53   91   53   76
..   ...  ...  ...  ...
145   -5   34  146  126
146   31   80   30   83
147   83    0   38   13
148   76   23  127   96
149  111   80   46    2

[150 rows x 4 columns]

In [14]:
target

     Y
0    0
1    0
2    0
3    1
4    1
..  ..
145  0
146  1
147  1
148  1
149  1

[150 rows x 1 columns]

In [15]:
test

     A   B   C   D
0   40  52  58  95
1   98  53  81  60
2   73  40  70  17
3   98  14  63   3
4   37  27  75  90
..  ..  ..  ..  ..
95  41  80  88   4
96  82  43  43  96
97  36  93  34  17
98  72  67  44  18
99  61  31  87   6

[100 rows x 4 columns]

In [ ]:
# generate data
new_train1, new_target1 = OriginalGenerator().generate_data_pipe(train, target, test, )
new_train2, new_target2 = GANGenerator().generate_data_pipe(train, target, test, )
new_train3, new_target3 = ForestDiffusionGenerator().generate_data_pipe(train, target, test, )

# example with all params defined
new_train4, new_target4 = GANGenerator(gen_x_times=1.1, cat_cols=None,
           bot_filter_quantile=0.001, top_filter_quantile=0.999, is_post_process=True,
           adversarial_model_params={
               "metrics": "AUC", "max_depth": 2, "max_bin": 100, 
               "learning_rate": 0.02, "random_state": 42, "n_estimators": 100,
           }, pregeneration_frac=2, only_generated_data=False,
           gen_params = {"batch_size": 500, "patience": 25, "epochs" : 500,}).generate_data_pipe(train, target,
                                          test, deep_copy=True, only_adversarial=False, use_adversarial=True)